<h2><i class="fas fa-book-open"> Story-Book</i></h2>
<div class="section">
    <p class="lead">Create Public or Private stories</p>
</div>
<div class="divider">
</div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
    <i class="fab fa-google left"></i> Log in with google</a>
</div>